@model ToDoProject.Models.EmployeeTaskViewModel
@{
    ViewData["Title"] = "Add task to employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="boxedForm">
    @using (Html.BeginForm())
    {
        <div>
            <label asp-for="Employees"></label>
            <select asp-for="EmployeeSelectedValue" class="form-control  form-control-sm" asp-items="@(new SelectList(Model.Employees, "Id", "Name"))"></select>
            <span asp-validation-for="Employee.Id" />
        </div>
        <p></p>
        <div>
            <label asp-for="Tasks"></label>
            <select asp-for="TaskSelectedValue" class="form-control  form-control-sm" asp-items="@(new SelectList(Model.Tasks, "Id", "Name"))"></select>
            <span asp-validation-for="Task.Id" />
        </div>
        <p></p>
        <div class="action">
            <button class="btn btn-primary" type="submit">
                Create
                @*<span>Save</span>*@
            </button>
        </div>
        <p></p>
        <div>
            <a asp-controller="EmployeeTask" asp-action="Index" class="btn btn-secondary">Back to main menu</a>
        </div>
    }
</div>
