@model IEnumerable<ToDoProject.Models.Image>

@{
    ViewBag.Title = "Add image";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Create" asp-controller="Image" method="post" enctype="multipart/form-data">
    <p>
        <label>Image Name</label>
        <input name="Name" class="form-control" />
    </p>
    <p>
        <label>Avatar</label>
        <input name="Avatar" type="file" class="form-control" />
    </p>
    <p>
        <label>ID employee</label>
        <input name="EmployeeId" class="form-control" />
    </p>
    <p>
        <input type="submit" value="Add" />
    </p>
</form>

<h3>All employees</h3>
@foreach (var p in Model)
{
    <div>
        <h4>@p.Name</h4>
        @if (p.Avatar != null)
        {
            <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(p.Avatar))" />
        }
        <h4>@p.EmployeeId</h4>
    </div>
}


@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}